@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
    padding:0 ; 
    margin:0 ; 
}
body {
    height:100vh ; 
    width:100vw ; 
}
.app {
    display:flex ;
    flex-direction: column; 
    justify-content:center ; 
    justify-content: space-around; 
}
img {
    height:8.5vmin; 
}
header {
    font-size:100% ; 
    height:20vh ; 
    text-align: center;
}
header >div >  span {
    font-size:10vmin ; 
    font-family: 'Open Sans', sans-serif;
    font-weight:200 ; 
}
.head__wrapper {
    height:100% ; 
}
.stats__container {
    display:flex ; 
    justify-content: space-around;
}
.stat {
    border:1px solid black ; 
    height:10vh ; 
}
.selector {
    text-align:center; 
    margin-top: 5vh;
}
select {
    font-size:100%; 
    padding:2vh 0 ; 
    background-color: aquamarine;
    border:1px solid black ; 
    border-radius: 10px ; ;
    width:50vw ; 
}
.selector > h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:4vmin;
}
.stat {
    padding:7vmin 8vmin ; 
    background-color: rgb(246, 246, 246);
    display:flex ; 
    flex-direction: column;
}
.content {
    letter-spacing:0.6px;
    font-size:5vmin ; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.number {
    /* padding: 1vmin 0 ;  */
    /* flex:5 ;  */
    font-size:3.8vmin ; 
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Nunito', sans-serif;
}
.placename {
    font-size:4vmin ; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
}
.bar {
    max-height:10vh ; 
    width:100vw ; 
    border:1px solid black;
}